:root {
    --blue: rgba(25,146,212,255);
    --grey: rgba(226,232,240,255);
    --white: rgba(255,255,255,255); 
    --yellow: rgba(240,180,41,255); 
    --text-black: rgba(0,0,0,255); 
    --text-grey: rgba(108,108,108,255); 
}

@font-face {
    font-family: Roboto;
    src: url(/Roboto/Roboto-Medium.ttf);
  }

.container {
    display: grid; 
    grid-template-columns: 0.8fr 1fr 1fr 0.6fr;
    grid-template-rows: 20vh 40vh 40vh;
    font-family: 'Roboto', sans-serif;
}

/* Sidebar */

.sidebar {
    background-color: var(--blue);
    color: var(--white);
    grid-row: 1 / 4;
}

.sidebar-header {
    display: flex; 
    padding-left: 20px; 
    padding-top: 20px;
    padding-right: 20px; 
}

.sidebar h1 {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.sidebar img { 
    width: 60px;
    filter: invert(100%);
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 0; 
    margin-left: 20px; 
    padding-bottom: 20px; 
}

.icon {
    display: flex;
    align-items: center;
    padding-bottom: 10px; 
}

.icon img {
    height: 30px;
}

.icon li {
    font-size: 20px;
}

/* Header */

.header {
    grid-column: 2 / 5; 
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0.5rem; 
}

.header--search {
    grid-column: 1 / 2; 
    grid-row: 1 / 2; 
    display: flex; 
    align-items: center;
    padding-left: 1rem; 
    padding-top: 1rem; 
}

.header--greeting-block img {
    height: 80px; 
    padding-right: 1rem; 
}

.header--greeting-block {
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
    display: flex; 
    align-items: center;
    padding-left: 1rem; 
}

.header--greeting {
    margin: 0;
}

.header--greeting p, .header--greeting h3 {
    margin: 2px; 
    letter-spacing: 0.1rem;
}

.header--profile img {
    height: 40px; 
}

.header--profile {
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
}

.header--buttons {
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
}

/* Desktop */

.desktop {
    border: 2pt solid red; 
    grid-column: 2 / 4;
    grid-row: 2 / 4; 
    background-color: var(--grey);
}

.announcements {
    border: 2pt solid red; 
    grid-column: 4 / 5; 
    grid-row: 2 / 3; 
    background-color: var(--grey);

}

.trending {
    border: 2pt solid red; 
    grid-column: 4 / 5; 
    grid-row: 3 / 4; 
    background-color: var(--grey);

}